@{
    ViewData["Title"] = "Moment 3";
}

<div class="text-center">
    <h1 class="display-4">Welcome to moment 3</h1>
    <article class="bg-primary">
        <h2>Artists</h2>
    <p>Add artists to the collection.</p>
    </article>
    <article class="bg-primary">
        <h2>CDs</h2>
        <p>Add CDs to the collection</p>
    </article>
</div>
